<button
        type='button'
        class='button is-pulled-left mt-4'
        {{on 'click'  (fn this.toggleArchive this.args.data.id this.args.data.archived)}}
      >
        {{#if this.args.data.archived}}
          Unarchive
        {{else}}
          Archive
        {{/if}}
      </button>