  <p class='subtitle has-text-white my-2'>
        Archived: {{this.isArchived}}
      </p>
<button
        type='button'
        class='button is-pulled-left mt-4'
        {{on 'click' (fn this.toggleArchive this.args.data)}}
      >
        {{#if this.isArchived}}
          Unarchive
        {{else}}
          Archive
        {{/if}}
      </button>