<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
          <LinkTo class="navbar-item" @route='users'>

        <img
          src="https://staffomatic-com.s3.amazonaws.com/images/logos/staffomatic-logo-colored2x.svg"
          alt="Staffomatic"
        />
        <h1 class="navbar-item is-size-5">
          Staffomatic
        </h1>
        </LinkTo>
    </div>
  </div>
</nav>